* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(186, 183, 80, 1);
    transition: 0.6s;
    margin-left: 500px;
    filter: blur(80px);
    font-family: 'Sono';
}
.navbar {
    background-color: beige;
    width: auto;
    height: 50px;
}
.navbaritem {
    margin-left: 22px;
    margin-top: 7px;
    position: relative;
    text-decoration: none;
    font-size: large;
    font-family: 'Sono', sans-serif;
    transition: 0.4s;
    color: purple;
    display: inline-block;
}
.navbaritem:hover{
    color: goldenrod;
}
.indicator {
    width: 40px;
    height: 3px;
    position: absolute;
    margin-top: 1px;
    left: 24px;
    transition: 0.4s;
}
.active {
    color: goldenrod;
    font-weight: bold;
}
.aboutnotes {
    margin-top: 80px;
    font-size: 40px;
    margin-left: 15px;
}
.notesabout {
    border-radius: 15px;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    height: fit-content;
    background-color: rgba(186, 183, 80, 1);
    transition: 0.6s;
}
.notesabout:hover {
    margin: 0px;
    background: linear-gradient(68deg, rgba(0,5,36,1) 0%, rgba(110,9,121,1) 21%, rgba(0,151,255,1) 86%);
}
.subhome {
    margin: 15px;
    margin-top: 50px;
    min-width: 350px;
    min-height: 175px;
    border-radius: 15px;
    font-size: large;
    background: linear-gradient(68deg, rgba(0,5,36,1) 0%, rgba(9,24,121,1) 30%, rgba(255,93,0,1) 86%);
    border: 2px solid black;
    transition: 0.4s;
    cursor: pointer;
}
.subhome:hover {
    background: linear-gradient(68deg, rgba(0,5,36,1) 0%, rgba(9,121,59,1) 30%, rgba(106,0,255,1) 86%);
    border: 2px solid blue;
}
.arrow_to_notes {
    width: 20px;
    transition: 0.4s;
}
.arrow:hover .arrow_to_notes {
    margin-left: 50px;
}
.arrow {
    position: relative;
    bottom: 9px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: purple;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: goldenrod;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  .menuopener {
    width: 35px;
    height: 32px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 6px;
    margin-left: 9px;
    background-color: white;
  }
  .menuopener:hover {
    background-color: #818181;
  }
.navbar1 {
    display: none;
    position: relative;
}
.text_selection {
  background-color: aquamarine;
  width: 850px;
  height: 600px;
  margin-top: 5%;
  margin-left: 20%;
  border-radius: 20px;
}
.text_select {
  margin-left: 40px;
  width: 770px;
  margin-top: 40px;
  height: 40px;
  border-radius: 10px;
}
.text_select1 {
  margin-left: 40px;
  width: 770px;
  margin-top: 80px;
  height: 40px;
  border-radius: 10px;
  display: none;
}
.text_select2 {
  margin-left: 40px;
  width: 770px;
  margin-top: 80px;
  height: 40px;
  border-radius: 10px;
  display: none;
}
.text_select3 {
  margin-left: 40px;
  width: 770px;
  margin-top: 80px;
  height: 40px;
  border-radius: 10px;
  display: none;
}